<div class="px-2">
  <h2>Donor Database</h2>
  <mat-card class="mat-elevation-z8">
    <div class="d-flex justify-content-between">
      <button mat-icon-button matTooltip="{{'Filter'}}" class="tool-bar-icon " (click)="onFilter($event)">
        <mat-icon>filter_list</mat-icon> <span>{{'Filter'}}</span>
      </button>
      <div>
        <button mat-raised-button class="sendMessage mr-2" (click)="onSendMessage()">
          Send Message
        </button>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="Today">Today</mat-button-toggle>
          <mat-button-toggle value="Yesterday">Yesterday</mat-button-toggle>
          <mat-button-toggle value="Pick Date">
            <mat-form-field appearance="fill" class="example-form-field">
              <input matInput [matDatepicker]="datepicker">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="mattable">

      <table mat-table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mad-body-2 mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="donorName">
          <th mat-body-1 mat-header-cell *matHeaderCellDef> Donar Name </th>
          <td mat-cell *matCellDef="let element"> {{element.donorName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="bloodType">
          <th mat-header-cell *matHeaderCellDef> Blood Type </th>
          <td mat-cell *matCellDef="let element"> {{element.bloodType}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
        <ng-container matColumnDef="donorAge">
          <th mat-header-cell *matHeaderCellDef>Donor Age </th>
          <td mat-cell *matCellDef="let element"> {{element.donorAge}} </td>
        </ng-container>
        <ng-container matColumnDef="donorWeight">
          <th mat-header-cell *matHeaderCellDef>Donor Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.donorWeight}} </td>
        </ng-container>
        <ng-container matColumnDef="disease">
          <th mat-header-cell *matHeaderCellDef> Suffering from any disease </th>
          <td mat-cell *matCellDef="let element"> {{element.disease}} </td>
        </ng-container>
        <ng-container matColumnDef="lastDonated">
          <th mat-header-cell *matHeaderCellDef> Last Donated </th>
          <td mat-cell *matCellDef="let element"> {{element.lastDonated}} </td>
        </ng-container>
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Contact </th>
          <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>
  </mat-card>
</div>