table {
  width: 100%;
}
.mattable {
  height: 54vh;
  overflow-y: auto;
}
mat-card {
  border-radius: 15px;
}
.example-chip-list {
  width: 500px !important;
  padding: 0;
  margin-left: 2rem;
}

.sendMessage {
  border-radius: 25px;
  width: 150px;
  color: white;
  height: 35px;
  background-color: brown;
  line-height: 0px;
}

.toggleButtons {
  border-radius: 25px;
  height: 35px !important;
  line-height: 10px !important;
}
mat-button-toggle-appearance-standard mat-button-toggle-label-content {
  line-height: 0px !important;
}
.toggleButton {
  padding-bottom: 5px;
  background-color: aqua;
}

.tool-bar-icon {
  width: 48px;
  height: 48px;
}
.date {
  width: 85px;
}
