<div>
  <h2 class="p-2 pl-5 appBgColor text-white">Filters</h2>
  <div>
    <form class="forms" [formGroup]="filterForm">
      <p>Blood Type</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="bloodGroup" class="select">
          <mat-option [value]="type" *ngFor="let type of bloodGroupList?.types">{{type }} </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <hr /> -->
      <div class="d-flex justify-content-between align-items-center">
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option [value]="type" *ngFor="let type of  ['Male','Female','Others'] ">{{ type }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select formControlName="location">
            <mat-option [value]="loc" *ngFor="let loc of states">{{loc }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <ng5-slider formControlName="range" [(value)]="sliderMinRange" [(highValue)]="sliderMaxRange" [options]="sliderOptions"></ng5-slider> -->
      <br>
      <div class="my-2">
        <br>
        <mat-label class="mt-2 mb-1">Last donated 3 Months ago</mat-label><br>
        <mat-radio-group class="mt-1" formControlName="lastDonation">
          <mat-radio-button value="yes">Yes</mat-radio-button>
          <mat-radio-button value="no" class="radio">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
    <mat-divider>
    </mat-divider>
    <div class="d-flex justify-content-evenly align-items-center my-2">
      <button mat-raised-button>Secondary</button>
      <button mat-raised-button class="appBtnBgColor text-white" (click)="OnUpload()">Upload</button>
    </div>
  </div>
</div>