.forms {
  padding: 0.7rem 1.5rem;
}

::ng-deep .mat-form-field-appearance-outline {
  border-radius: 50px;
}
p {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

mat-form-field {
  width: 130px !important;
  margin: 0;
  padding: 0;
}

mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.radio {
  margin-left: 15px;
}
