mat-form-field {
  width: 140px;
  height: 40px;
  padding: 0 10px;
}

.select {
  border-radius: 20px !important;
  border: 2px solid lightgray !important;
  width: 140px;
  margin: 0;
  padding-bottom: 5px;
}

span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

hr {
  padding: 0;
}
::ng-deep .ng5-slider .ng5-slider-selection {
  background-color: #ea0029 !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  background-color: #ea0029 !important;
}
