<mat-card class="dialog d-flex flex-column mat-elevation-z8 align-items-center">
  <h1 class="md-dialog-title  text-center">{{'Reset Password'}}</h1>
  <!-- <button mat-icon-button>
    <mat-icon>close</mat-icon>
  </button> -->
  <div class=" md-dialog-content text-center">{{'Enter your new desired password.Password shuld be comibation of 8 digit with number, alphabet adn special characters.'}}</div>
  <form>
    <p>
      <mat-form-field class="d-block">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" type="password">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="d-block">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm Password" type="password">
      </mat-form-field>
    </p>
  </form>
  <button mat-raised-button color="accent">Save</button>
</mat-card>