<div style="text-align: center;">

  <div class="d-flex justify-content-end align-items-center">
    <mat-icon (click)="dialogRef.close()" routerLink="/login">close</mat-icon>
  </div>
  <div>
    <img [src]="image" alt="" *ngIf="image" width="150px" height="130px">

  </div>
  <h1 class="flex-1">{{title ? title : ''}}</h1>
  <p>
    {{content}}
  </p>
  <div class="d-flex justify-content-center" *ngIf="button">
    <button mat-raised-button class="appBgColor text-white " (click)="onDone()">{{button}}</button>
  </div>
</div>