.page {
  height: 100%;
}

.sidenavs {
  z-index: 999;
  width: 14%;
  /* height: 100%; */
  background-color: white;
  padding: 10px 10px;
  color: black;
}

.menus {
  margin-top: 3rem;
}
.active-link {
  background-color: lightpink;
  color: #aa182c !important;
  border-radius: 10px;
}
.menuItem {
  cursor: pointer;
  color: black;
  padding: 0.6rem 0 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.menu {
  margin-left: 1rem;
  margin-right: 2rem;
  font-size: 15px;
}

mat-menu-panel {
  max-width: 0 !important;
  padding: 5px 10px !important;
}
.header {
  margin: 0;
  padding: 0 3rem;
  width: 100%;
  height: 65px;
  background-color: white;
  z-index: 100;
}
.line {
  border-right: 1px solid #00000045;
  height: 29px;
  margin-top: 6px;
  margin-right: 0.5rem;
}
.logo {
  padding-left: 1rem;
}
.matForm {
  width: 90px;
}
.title {
  padding-left: 1rem;
}
.activitybtn {
  background-color: brown;
  min-width: 45px !important;
  border-radius: 10px !important;
  padding: 0 !important;
}
.borders {
  border-bottom: 1px solid #0000001f;
}
::ng-deep .matmenu {
  min-width: 350px !important;
  border-radius: 7px;
  padding: 5px 13px;
}
.noti {
  font-weight: bold;
}
.headers {
  width: 86%;
}
.headerbuton {
  padding: 0 25px;
  border-radius: 20px;
  background-color: brown;
  color: white;
  font-size: 14px;
  margin-left: 1rem;
}

mat-card {
  border-radius: 10px;
}

.card {
  height: 340px;
}

.activitybtn {
  min-width: 45px !important;
  border-radius: 10px !important;
  padding: 0 !important;
}

.borders {
  border-bottom: 1px solid #0000001f;
}

.flex {
  flex-grow: 1;
  padding-left: 10px;
}

.userIcon {
  margin-right: 1.5rem;
}
.notiIcon {
  margin-right: 2.5rem;
}

.title {
  padding-left: 1rem;
}

.footer {
  /* position: sticky; */
  bottom: 0;
  width: 85%;
  display: inline-block;
  text-align: center;
}

.headerIcons {
  margin-right: 10px;
}
.hide{
   cursor: default;
   color: #dee2e6;;
}

.entity{
  width: 165px;
  margin-right: 1.5rem;
}

.entities{
  background-color: brown;
    padding: 7px 14px;
    border-radius: 25px;
   
}
.hidden{
  top: 1rem;
  right: 2rem;
  position: absolute;
  display: flex;
}
.hiden{
  display: flex;
}
/* ::ng-deep.mat-select-placeholder {
  color: white !important;
}
.
::ng-deep .mat-select-arrow {
  color: white !important;
}  */


