<div class="row page">
  <div class="col-3  sidenav">
    <div class="py-4 d-flex justify-content-around">
      <img src="/assets/JioLogo.svg" alt="JioLogo" width="50px" height="50px" class="pl-2" />
      <h2 class="mt-2 d-inline pl-2 text-white">Boond</h2>
    </div>
    <div class="menus">
      <div *ngFor="let menu of sideMenus" class="d-flex  menuItem" routerLink="{{menu.route}}">
        <mat-icon class="mr-1">{{menu.icon}}</mat-icon>
        <h5 class="menu">{{menu.menu}}</h5>
      </div>
    </div>
  </div>
  <div class="col-9 headers m-0 p-0">
    <div class="header d-flex align-items-center justify-content-between">
      <div>
        <button mat-raised-button class="headerbuton" (click)="onBroadCaseMsg($event)">Broadcast Message</button>
        <button mat-raised-button class="headerbuton" (click)="onAddBloodReq()">Add Blood Request</button>
      </div>
      <div class="d-flex mt-3">
        <mat-icon class="notiIcon" color="accent">notifications_none</mat-icon>
        <button mat-icon-button class="mb-2" [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="profile">
            <mat-icon>person_outline</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="onOrgsetting()" routerLink="orgSettings">
            <mat-icon>settings</mat-icon>
            <span>Organization Setting</span>
          </button>
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <h3>Welcome Yash !</h3>
      </div>
    </div>
    <div class="mt-4 mx-2 px-2">
      <router-outlet></router-outlet>
    </div>
    <div class="mt-4 footer" *ngIf="currentRouter !=='/orgSettings' ">
      <app-footer></app-footer>
    </div>
  </div>
</div>