<div style="border-radius: 50px;">
  <div class="d-flex justify-content-around align-items-center">
    <h3 class="m-0 text-bold flex-grow-1 text-center ">{{data.page === 'bloodComp' ? 'Update Blood Component Status' : 'Update Blood Status'}}</h3>
    <mat-icon (click)="dialogRef.close()">close</mat-icon>
  </div>

  <form [formGroup]="updateBloodForm" class="mt-2">
    <div *ngIf="data.page === 'bloodComp'">
      <p class="text-secondary">Select Blood Component</p>
      <mat-form-field appearance="none">
        <mat-label>{{ "Select Blood Component" }}</mat-label>
        <mat-select formControlName="bloodComp" placeholder="Select Blood Component" (selectionChange)="onBloodComp($event.value)" class="bldCom">
          <mat-option [value]="list" *ngFor="let list of bloodCompList?.types">{{ list}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="
                      updateBloodForm.controls['bloodComp'].invalid &&
                      updateBloodForm.controls['bloodComp'].errors.required
                    ">
          {{ "blood Component is required" }}
        </mat-error>
      </mat-form-field>
    </div>
    <p class="mt-2">Select Blood Type</p>
    <p>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-2" (click)="onBloodGroup($event.target.innerText)" formControlName="bloodGroup">
        <mat-button-toggle [value]="group" *ngFor="let group of bloodGroupList?.types">{{group}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </p>

    <div class="mt-3">
      <p class="d-flex justify-content-around">
        <mat-form-field class="matForm">
          <input type="number" matInput placeholder="Available Unit" formControlName="availableUnit" minlength="0" />
        </mat-form-field>
        <mat-form-field class="matForm">
          <input type="number" matInput placeholder="New Unit" formControlName="newUnit" minlength="0" />
        </mat-form-field>
      </p>
      <p class="d-flex justify-content-around">
        <button mat-raised-button (click)="totalSum('add')" class="smallButtons" style="background-color: lightpink ; border: 2px solid #ea0029; color: #ea0029;">Add</button>
        <button mat-raised-button (click)="totalSum('minus')" class="outlineButtons" style="color: #ea0029 ; background-color: white;">Minus</button>
      </p>

      <p class="mt-4">
        <mat-form-field class="d-flex justify-content-center">
          <input type="number" [disabled]=true matInput placeholder="Total Blood Unit" formControlName="totalUnit" />
        </mat-form-field>
      </p>
      <p class="d-flex justify-content-center">
        <button mat-raised-button class="appBgColor text-white" (click)="onSave()" [disabled]="!updateBloodForm.valid">Update</button>
      </p>
    </div>
  </form>

</div>