.matForm {
  width: 140px;
}
.mat-snack-bar-container {
  background-color: black;
  color: white;
  border-radius: 35px;
  max-width: 50vw !important;
}

mat-form-field {
  width: 83%;
}

.mat-button-toggle-checked {
  background-color: red;
  color: white;
}

h3 {
  font-weight: bolder;
}

button {
  border-radius: 10px;
}

.buttons {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.bldCom {
  border: 1px solid lightgray !important;
  border-radius: 22px;
  padding: 10px 15px !important;
}
