.sideBar {
  background-color: gainsboro;
  /* height: 92.5vh; */
  margin-left: -1rem;
  margin-top: -22px;
  margin-right: 1rem;
}
th,
td {
  border: 1px solid #e9ecef;
  /* border-bottom: 1px solid #e9ecef; */
  border-collapse: collapse;
}
.btns {
  margin-right: 1rem;
}
th,
td {
  padding: 5px 13px;
  text-align: left;
}
.rows {
  padding: 0;
}
h3 {
  font-weight: bold;
}
.auto {
  margin: 0 auto;
}
.mat-form-field {
  width: 430px;
  margin: 0 1.5rem;
}
th {
  width: 500px;
}
td {
  width: 270px;
}
table {
  width: 100%;
}

.entityBtn {
  width: 180px;
  color: red;
  border-radius: 15px;
  margin: 10px 0 0 5px;
  position: fixed;
  bottom: 10px;
}
mat-list-item {
  border: 1px solid #ea0029 !important;
  cursor: pointer;
  width: 170px;
  background-color: white;
  border-radius: 10px;
}

.matList {
  padding: 0;
}

.saveBtn {
  margin-left: 1rem;
}

.data {
  height: 80vh;
  overflow-y: scroll;
}

.files {
  border: 1px dotted grey;
  padding: 10px;
  border-radius: 10px;
  /* width: 450px; */
}
