.sideBar {
  background-color: gainsboro;
  height: 92.5vh;
  margin-left: -1rem;
  margin-top: -22px;
  margin-right: 1rem;
}
th,
td {
  border: 1px solid #e9ecef;
  /* border-bottom: 1px solid #e9ecef; */
  border-collapse: collapse;
}
.btns {
  margin-right: 1rem;
}
th,
td {
  padding: 10px 13px;
  text-align: left;
}
.rows {
  padding: 0;
}
th {
  width: 500px;
}
td {
  width: 270px;
}
table {
  width: 100%;
}

.entityBtn {
  width: 180px;
  color: red;
  position: absolute;
  bottom: 0;
  margin: 0 0 0 5px;
}
mat-list-item {
  width: 170px;
  border-radius: 15px;
  background-color: #e9ecef;
}

.matList {
  padding: 0;
}
