.sideBar {
  background-color: gainsboro;
  /* height: 92.5vh; */
  margin-left: -1rem;
  margin-top: -22px;
  margin-right: 1rem;
}
th,
td {
  border: 1px solid #e9ecef;
  /* border-bottom: 1px solid #e9ecef; */
  border-collapse: collapse;
}
.btns {
  margin-right: 1rem;
}
th,
td {
  padding: 5px 13px;
  text-align: left;
}
.rows {
  padding: 0;
}
.mat-form-field-infix {
  padding: 0;
}
th {
  width: 500px;
}
td {
  width: 270px;
}
table {
  width: 100%;
}

.entityBtn {
  width: 180px;
  color: red;
  border-radius: 15px;
  margin: 10px 0 0 5px;
  position: fixed;
  bottom: 10px;
}
mat-list-item {
  cursor: pointer;
  width: 170px;
  border-radius: 15px;
  background-color: #e9ecef;
}

.matList {
  padding: 0;
}

.saveBtn {
  margin-left: 1rem;
}

.data {
  height: 86vh;
  overflow-y: scroll;
}
