<div class="row ">
  <div class="col-2 sideBars">
    <div>
      <h4 class="m-0 mt-4">Organisation info</h4>
      <mat-list role="list" (click)="onOrgInfo(organizationDetails)" class="d-flex justify-content-between align-items-center">
        <mat-list-item role="listitem">{{organizationDetails?.categoryName}}
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>

      </mat-list>
    </div>
    <div>
      <h4 class="m-0 mt-3">All Entities</h4>
      <div class="datas">
        <mat-list role="list" *ngFor="let entityDetail of entityDetails">
          <mat-list-item role="listitem" class="matList mb-1" (click)="onEntityInfo(entityDetail)">
            {{entityDetail?.bldbnkName}} {{entityDetail?.apsts == 1 ? 'Approved' : 'Pending'}}
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
        </mat-list>
      </div>
      <button mat-raised-button class="entityBtn outlineButtons btn-block" type="button" (click)="onAddEntitty()">
        Add New Entity
      </button>
    </div>

  </div>
  <div class="ml-1 mb-5 data col-10">
    <mat-card class="mat-elevation-z8 px-3">
      <form [formGroup]="organizationForm" class="px-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h3 class="m-0">{{ showOrg ?'Organization Details' : 'Entity Details'}}</h3>
          <div>
            <button mat-raised-button class="smallButtons d-block text-white" *ngIf="isEdit" (click)="onEdit()">Edit</button>
            <button mat-raised-button *ngIf="!isEdit" (click)="cancel()" class="outlineButtons">Cancel</button>
            <button mat-raised-button class="smallButtons saveBtn text-white" *ngIf="!isEdit" (click)="save()">Save</button>
          </div>
        </div>
        <hr>
        <div *ngIf="showOrg">
          <div class="mt-4">
            <div class="mt-4 auto">
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='orgType' placeholder="Type of Organization" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName='entityType' placeholder="Type of Entity" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='companyName' placeholder="Company Name" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="contactNumber" placeholder="Contact Number" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='regNumber' placeholder="Registration Number" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="regYear" placeholder="Registration Year" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName="emailAddress" placeholder="Email Address" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput placeholder="Website" formControlName="website" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput placeholder="Name of the point of Contact" formControlName="nameOfContact" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="desgContact" placeholder="Designation of point of Contact" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <h3 class="m-0  mb-3">{{'Address Details'}}</h3>
            <hr>
            <div class="mt-4">
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='address1' placeholder="Address Line 1" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName='address2' placeholder="Address Line 2" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='city' placeholder="City" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="district" placeholder="District" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='state' placeholder="State" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="pincode" placeholder="Pincode" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <h3 class="m-0  mb-3">{{'Upload Document'}}</h3>
            <hr>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <img src="/assets/Images/upload.svg" alt="" width="35px" height="35px">
              <input #fileInput [hidden]="true" id="input-file-id" multiple type="file" accept="application/pdf" (change)="onOrgFileUpload($event, 'org')" (click)="fileInput.value = null" />
              <button (click)="fileInput.click()" mat-button class="upload-button d-flex justify-content-center" type="button" [disabled]="isEdit">
                <p style="color: #ea0029; padding: 0; margin:0">Upload</p>
              </button>
              <mat-hint style="font-size: 10px;">Please upload in PDF format only and the size should be less than 2 </mat-hint>
            </div>
            <div class="mt-4">
              <ng-container *ngFor="let file of orgUploadDocuments; let i = index">
                <div class="files d-flex my-2 align-items-center" *ngIf="orgUploadDocuments.length > 0">
                  <mat-icon class="icon pl-2 pr-4" color="accent">
                    insert_drive_file</mat-icon>
                  <div class="d-flex flex-column flex-grow-1">
                    <span clas="d-block">{{ file.name }}</span>
                    <span>{{ file.size + " byte" }}</span>
                  </div>
                  <h4 class="m-0 " style="color: brown; padding: 5px; cursor: pointer;" (click)="downloadOrgFile(file)">View File</h4>
                  <mat-icon class="icon" color="accent" (click)="onDeleteFile(i, 'org')" [hidden]="isEdit">close</mat-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="showEntity">
        <form [formGroup]="entityDetailForm" class="px-3">
          <div class="mt-4">
            <div class="mt-4">
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='orgType' placeholder="Type of Organization" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName='bldBankName' placeholder="Blood Bank Name" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='parentHptName' placeholder="Parent Hospital Name" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="category" placeholder="Category" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='regNumber' placeholder="Registration Number" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="regYear" placeholder="Registration Year" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName="licenseNum" placeholder="License Number" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput placeholder="License Valid Till" formControlName="licenseValid" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName="emailAddress" placeholder="Email Address" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput placeholder="contactNumber" formControlName="contactNumber" />
                </mat-form-field>
              </div>

              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput placeholder="Name of the point of Contact" formControlName="nameOfContact" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="desgContact" placeholder="Designation of point of Contact" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput placeholder="Website" formControlName="website" />
                </mat-form-field>
                <div class="d-flex justify-content-center align-items-center" style="width: 480px;">
                  <div style="margin-right: 10rem;">
                    <p>Component Facility</p>
                    <mat-radio-group class="'radioTitle" formControlName="comFacility">
                      <mat-radio-button value="yes" style="margin-right: 1rem;" class="radioButton">Yes</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div>
                    <p>Arphersis Facility</p>
                    <mat-radio-group class="'radioTitle" formControlName="apFacility">
                      <mat-radio-button value="yes" style="margin-right: 1rem;" class="radioButton">Yes</mat-radio-button>
                      <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="mt-4">
            <h3 class="m-0  mb-3">{{'Address Details'}}</h3>
            <hr>
            <div class="mt-4">
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='address1' placeholder="Address Line 1" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName='address2' placeholder="Address Line 2" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='city' placeholder="City" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="district" placeholder="District" />
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-around align-items-center">
                <mat-form-field>
                  <input type="text" matInput formControlName='state' placeholder="State" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" matInput formControlName="pincode" placeholder="Pincode" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <h3 class="m-0  mb-3">{{'Upload Document'}}</h3>
            <hr>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <img src="/assets/Images/upload.svg" alt="" width="35px" height="35px">
              <input #fileInput [hidden]="true" id="input-file-id" multiple type="file" accept="application/pdf" (change)="onOrgFileUpload($event, 'entity')" (click)="fileInput.value = null" />
              <button (click)="fileInput.click()" mat-button class="upload-button d-flex justify-content-center" type="button" [disabled]="isEdit">
                <p style="color: #ea0029; padding: 0; margin:0">Upload</p>
              </button>
              <mat-hint style="font-size: 10px;">Please upload in PDF format only and the size should be less than 2 </mat-hint>
            </div>
            <div class="mt-4">
              <ng-container *ngFor="let file of entityDocs; let i = index">
                <div class="files d-flex my-2 align-items-center" *ngIf="entityDocs.length > 0">
                  <mat-icon class="icon pl-2 pr-4" color="accent">
                    insert_drive_file</mat-icon>
                  <div class="d-flex flex-column flex-grow-1">
                    <span clas="d-block">{{ file.fileName }}</span>
                  </div>
                  <h4 class="m-0 " style="color: brown; padding: 5px; cursor: pointer;" (click)="downloadOrgFile(file)">View File</h4>
                  <mat-icon class="icon" color="accent" (click)="onDeleteFile(i)" [hidden]="isEdit">close</mat-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </div>

    </mat-card>
  </div>
</div>