<div class="row ">
  <div class="col-2 sideBar">
    <div>
      <h4 class="m-0 mt-4">Organisation info</h4>
      <mat-list role="list" (click)="onOrgInfo(organizationDetails)">
        <mat-list-item role="listitem">{{organizationDetails?.prnthsptlName}}<mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <h4 class="m-0 mt-3">All Entities</h4>
      <mat-list role="list" *ngFor="let entityDetail of entityDetails">
        <mat-list-item role="listitem" class="matList mb-1" (click)="onEntityInfo(entityDetail)">
          {{entityDetail?.bldbnkName}} {{entityDetail?.apsts == 1 ? 'Approved' : 'Pending'}}
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>

    <button mat-raised-button class="entityBtn btn-block" type="button" (click)="onAddEntitty()">
      Add Entity
    </button>
  </div>
  <div class="ml-1 mb-5 data col-10">
    <mat-card class="mat-elevation-z8">
      <form [formGroup]="editForm">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="m-0">{{orgEnityObject?.bldbnkName ? orgEnityObject?.bldbnkName : orgEnityObject?.bldbnkName}}</h3>
          <div>
            <button mat-raised-button class="appBgColor d-block text-white" *ngIf="isEdit" (click)="onEdit()">Edit</button>
            <button mat-raised-button *ngIf="!isEdit" (click)="cancel()">Cancel</button>
            <button mat-raised-button class="appBgColor saveBtn text-white" *ngIf="!isEdit" (click)="save()">Save</button>
          </div>
        </div>

        <div class="mt-2">
          <table>
            <tbody>
              <tr *ngFor="let org of orgEnityObject | keyvalue">
                <ng-container *ngIf="org.key !== 'docs'">
                  <td>{{org.key}} </td>
                  <th>
                    <mat-form-field appearance="none">
                      <input type="text" matInput [formControlName]="org.key">
                    </mat-form-field>
                  </th>
                </ng-container>
                <ng-container *ngIf="org.key === 'docs'">
                  <td>{{org.key}} </td>
                  <th *ngFor="let doc of org.value">{{doc.fileName}}</th>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </mat-card>
  </div>
</div>