<div class="row ">
  <div class="col-2 sideBar">
    <div>
      <h4 class="m-0 mt-4">Organisation info</h4>
      <mat-list role="list">
        <mat-list-item role="listitem">{{organizationDetails?.categoryName}}<mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <h4 class="m-0 mt-3">All Entities</h4>
      <mat-list role="list" *ngFor="let entityDetail of entityDetails">
        <mat-list-item role="listitem" class="mb-1">
          {{entityDetail?.categoryName}}
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>

    <button mat-raised-button class="entityBtn d-block" type="button" (click)="onAddEntitty()">
      Add Entity
    </button>
  </div>
  <div class="ml-1 col-10">
    <mat-card class="mat-elevation-z8">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0">ABC Hospital</h3>
        <div>
          <button mat-raised-button class="appBgColor d-block">Edit</button>


        </div>
      </div>
      <div class="mt-2">
        <table>
          <tr>
            <td>Type of Entity</td>
            <th>Blood bank</th>
          </tr>
          <tr>
            <td>Parent Organisation Name</td>
            <th>ABC Hospital</th>
          </tr>
          <tr>
            <td>Organization Type</td>
            <th>Private</th>
          </tr>
          <tr>
            <td>Email Address</td>
            <th>email@gmail.com</th>
          </tr>
          <tr>
            <td>Contact NO.</td>
            <th>9876543210</th>
          </tr>
          <tr>
            <td>Address</td>
            <th>54, Bangalore</th>
          </tr>
          <tr>
            <td>City</td>
            <th>Mumbai</th>
          </tr>
          <tr>
            <td>Pincode</td>
            <th>632001</th>
          </tr>
          <tr>
            <td>Location</td>
            <th>Maharastra</th>
          </tr>
          <tr>
            <td>webstie</td>
            <th>ab.website.com</th>
          </tr>
          <tr>
            <td>License No.</td>
            <th>43271</th>
          </tr>
          <tr>
            <td>Registration Year</td>
            <th>2022</th>
          </tr>
          <tr>
            <td>Valid Till</td>
            <th>2020</th>
          </tr>
          <tr>
            <td>Attachments</td>
            <th>2020</th>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
</div>