<div class="header d-flex align-items-center justify-content-between">
  <div>
    <img src="/assets/Images/logo.svg" alt="JioLogo" class="ml-2 pl-5 logo" width="130px" height="50px" />
  </div>
  <mat-list role="list" class="d-flex align-items-center" style="padding-top: 3.1rem;">
    <mat-list-item role="listitem" routerLinkOptions="{exact: true}"> <a routerLinkActive="activeLink" routerLink="/login">Log in
        <div class="space"></div>
      </a>

    </mat-list-item>
    <mat-list-item role="listitem" routerLinkOptions="{exact: true}" routerLinkActive="activeLink">
      <a routerLink="/signup">
        Register
        <div class="space"></div>
      </a>

    </mat-list-item>
  </mat-list>
</div>

<div class="row d-flex justify-content-space-between main">
  <div class="col-lg-8 col-sm-12">
    <div class="d-flex align-items-center blood row">
      <img src="/assets/Images/LoginIllustration.svg" alt="bloodpic" class="bloodpic col-lg-8">
      <p class="display-4 ml-2 pl-4 col-lg-4">Be Grateful & <Strong style="color: #aa182c; font-weight: 600; padding-left: 1rem;">Donate</Strong> Blood</p>
    </div>
    <div class="row mt-4">
      <app-login-cards [card]="card" class="col-xl-4 col-lg-6 col-md-6 col-sm-12 pt-1" *ngFor="let card of loginCards"></app-login-cards>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12 pt-4">
    <app-login></app-login>
  </div>
</div>
<div class="mt-5 pt-3">
  <app-footer></app-footer>
</div>