<div class="px-2">
  <h2>All Blood Request</h2>
  <mat-card class="mat-elevation-z8 tablecard">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Hight-Priority Request">
        <div class="d-flex align-items-center justify-content-end px-2 mt-2 py-1">
          <!-- 
                <button mat-icon-button matTooltip="{{'Filter'}}" class="tool-bar-icon " (click)="onFilter($event)">
                  <mat-icon>filter_list</mat-icon> <span>{{'Filter'}}</span>
                </button> -->
          <div>
            <form [formGroup]="searchForm">
              <mat-form-field>
                <mat-select placeholder="{{ 'Blood Type' }}" formControlName="bldType">
                  <mat-option [value]="type" *ngFor="let type of bloodGroupTypes?.types">
                    {{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="comp" placeholder="{{ 'Select Component' }}">
                  <mat-option [value]="type" *ngFor="let type of bloodCompList?.types">
                    {{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="location" type="text" matInput placeholder="location">
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="m-0 p-0 mattable">
          <table mat-table [dataSource]="dataSource" class=" demo-table">
            <ng-container matColumnDef="Patient Name">
              <th class="mat-body-2" mat-header-cell *matHeaderCellDef> Patient Name </th>
              <td class="mat-body-1" mat-cell *matCellDef="let element"> {{element?.patName}} </td>
            </ng-container>
            <ng-container matColumnDef="Blood Group">
              <th mat-header-cell *matHeaderCellDef> Blood Group </th>
              <td mat-cell *matCellDef="let element"> {{element?.bldgrp}} </td>
            </ng-container>
            <ng-container matColumnDef="Requirements">
              <th mat-header-cell *matHeaderCellDef> Requirements </th>
              <td mat-cell *matCellDef="let element"> {{element?.requirements}} </td>
            </ng-container>
            <ng-container matColumnDef="Location">
              <th mat-header-cell *matHeaderCellDef>Location </th>
              <td mat-cell *matCellDef="let element"> {{element?.location}} </td>
            </ng-container>
            <ng-container matColumnDef="Date of request">
              <th mat-header-cell *matHeaderCellDef>Date of request </th>
              <td mat-cell *matCellDef="let element"> {{element?.crtDt | date}} </td>
            </ng-container>
            <ng-container matColumnDef="Required On">
              <th mat-header-cell *matHeaderCellDef> Required On </th>
              <td mat-cell *matCellDef="let element"> {{element?.reqDate | date}} </td>
            </ng-container>
            <ng-container matColumnDef="Purpose">
              <th mat-header-cell *matHeaderCellDef> Purpose </th>
              <td mat-cell *matCellDef="let element"> {{element?.purpose}} </td>
            </ng-container>


            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <p style="border-radius: 10px; padding: 2px 4px ; text-align: center; margin-top: 5px;" [ngClass]="element?.reqStatusId === 2 ? 'progress': element?.reqStatusId === 1 ? 'open' :  element?.reqStatusId === 3 ? 'rejected' :
                      element?.reqStatusId === 4 ?'closed' : ''">
                  {{element?.reqStatusId === 1 ? 'Open' : element?.reqStatusId === 2 ? 'InProgress' : element?.reqStatusId === 3 ? 'Rejected' :
                  element?.reqStatusId === 4 ?'Closed' : '' }}
                </p>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editRequest(row)"></tr>
          </table>

        </div>
        <mat-paginator [length]="length" [pageSize]="pageSize" class="pt-2">
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Open Blood Request">
        <div class="d-flex align-items-center justify-content-end px-2 mt-2 py-1">
          <!-- 
          <button mat-icon-button matTooltip="{{'Filter'}}" class="tool-bar-icon " (click)="onFilter($event)">
            <mat-icon>filter_list</mat-icon> <span>{{'Filter'}}</span>
          </button> -->
          <div>
            <form [formGroup]="searchForm">
              <mat-form-field>
                <mat-select placeholder="{{ 'Blood Type' }}" (selectionChange)="filterData('bldType')" formControlName="bldType">
                  <mat-option [value]="type" *ngFor="let type of bloodGroupTypes?.types">
                    {{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="comp" placeholder="{{ 'Select Component' }}" (selectionChange)="filterData('comp')">
                  <mat-option [value]="type" *ngFor="let type of bloodCompList?.types">
                    {{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="location" type="text" matInput placeholder="location" (keyup)="filterData('location')">
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="m-0 p-0 mattable">
          <table mat-table [dataSource]="dataSource" class=" demo-table">
            <ng-container matColumnDef="Patient Name">
              <th class="mat-body-2" mat-header-cell *matHeaderCellDef> Patient Name </th>
              <td class="mat-body-1" mat-cell *matCellDef="let element"> {{element?.patName}} </td>
            </ng-container>
            <ng-container matColumnDef="Blood Group">
              <th mat-header-cell *matHeaderCellDef> Blood Group </th>
              <td mat-cell *matCellDef="let element"> {{element?.bldgrp}} </td>
            </ng-container>
            <ng-container matColumnDef="Requirements">
              <th mat-header-cell *matHeaderCellDef> Requirements </th>
              <td mat-cell *matCellDef="let element"> {{element?.requirements}} </td>
            </ng-container>
            <ng-container matColumnDef="Location">
              <th mat-header-cell *matHeaderCellDef>Location </th>
              <td mat-cell *matCellDef="let element"> {{element?.location}} </td>
            </ng-container>
            <ng-container matColumnDef="Date of request">
              <th mat-header-cell *matHeaderCellDef>Date of request </th>
              <td mat-cell *matCellDef="let element"> {{element?.crtDt | date}} </td>
            </ng-container>
            <ng-container matColumnDef="Required On">
              <th mat-header-cell *matHeaderCellDef> Required On </th>
              <td mat-cell *matCellDef="let element"> {{element?.reqDate | date}} </td>
            </ng-container>
            <ng-container matColumnDef="Purpose">
              <th mat-header-cell *matHeaderCellDef> Purpose </th>
              <td mat-cell *matCellDef="let element"> {{element?.purpose}} </td>
            </ng-container>


            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <p style="border-radius: 10px; padding: 2px 4px ; text-align: center; margin-top: 5px;" [ngClass]="element?.reqStatusId === 1 ? 'open': element?.reqStatusId === 2 ? 'progress' :  element?.reqStatusId === 3 ? 'rejected' :
                element?.reqStatusId === 4 ?'closed' : ''">
                  {{element?.reqStatusId === 1 ? 'Open' : element?.reqStatusId === 2 ? 'InProgress' : element?.reqStatusId === 3 ? 'Rejected' :
                  element?.reqStatusId === 4 ?'Closed' : '' }}
                </p>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editRequest(row)"></tr>
          </table>

        </div>
        <mat-paginator [length]="length" [pageSize]="pageSize" class="pt-2">
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Closed Blood Request">
        <div class="d-flex align-items-center justify-content-end px-2 mt-2 py-1">
          <!-- 
                <button mat-icon-button matTooltip="{{'Filter'}}" class="tool-bar-icon " (click)="onFilter($event)">
                  <mat-icon>filter_list</mat-icon> <span>{{'Filter'}}</span>
                </button> -->
          <div>
            <form [formGroup]="searchForm">
              <mat-form-field>
                <mat-select placeholder="{{ 'Blood Type' }}" (selectionChange)="filterData('bldType')" formControlName="bldType">
                  <mat-option [value]="type" *ngFor="let type of bloodGroupTypes?.types">
                    {{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="comp" placeholder="{{ 'Select Component' }}" (selectionChange)="filterData('comp')">
                  <mat-option [value]="type" *ngFor="let type of bloodCompList?.types">
                    {{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="location" type="text" matInput placeholder="location" (keyup)="filterData('location')">
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="m-0 p-0 mattable">
          <table mat-table [dataSource]="dataSource" class=" demo-table">
            <ng-container matColumnDef="Patient Name">
              <th class="mat-body-2" mat-header-cell *matHeaderCellDef> Patient Name </th>
              <td class="mat-body-1" mat-cell *matCellDef="let element"> {{element?.patName}} </td>
            </ng-container>
            <ng-container matColumnDef="Blood Group">
              <th mat-header-cell *matHeaderCellDef> Blood Group </th>
              <td mat-cell *matCellDef="let element"> {{element?.bldgrp}} </td>
            </ng-container>
            <ng-container matColumnDef="Requirements">
              <th mat-header-cell *matHeaderCellDef> Requirements </th>
              <td mat-cell *matCellDef="let element"> {{element?.requirements}} </td>
            </ng-container>
            <ng-container matColumnDef="Location">
              <th mat-header-cell *matHeaderCellDef>Location </th>
              <td mat-cell *matCellDef="let element"> {{element?.location}} </td>
            </ng-container>
            <ng-container matColumnDef="Date of request">
              <th mat-header-cell *matHeaderCellDef>Date of request </th>
              <td mat-cell *matCellDef="let element"> {{element?.crtDt | date}} </td>
            </ng-container>
            <ng-container matColumnDef="Required On">
              <th mat-header-cell *matHeaderCellDef> Required On </th>
              <td mat-cell *matCellDef="let element"> {{element?.reqDate | date}} </td>
            </ng-container>
            <ng-container matColumnDef="Purpose">
              <th mat-header-cell *matHeaderCellDef> Purpose </th>
              <td mat-cell *matCellDef="let element"> {{element?.purpose}} </td>
            </ng-container>


            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <p style="border-radius: 10px; padding: 2px 4px ; text-align: center; margin-top: 5px;" [ngClass]="element?.reqStatusId === 1 ? 'open': element?.reqStatusId === 2 ? 'progress' :  element?.reqStatusId === 3 ? 'rejected' :
                      element?.reqStatusId === 4 ?'closed' : ''">
                  {{element?.reqStatusId === 1 ? 'Open' : element?.reqStatusId === 2 ? 'InProgress' : element?.reqStatusId === 3 ? 'Rejected' :
                  element?.reqStatusId === 4 ?'Closed' : '' }}
                </p>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editRequest(row)"></tr>
          </table>

        </div>
        <mat-paginator [length]="length" [pageSize]="pageSize" class="pt-2">
        </mat-paginator>
      </mat-tab>
    </mat-tab-group>

  </mat-card>
</div>