mat-card {
  border-radius: 15px;
}

.mattable {
  height: 53vh;
  overflow-y: auto;
}
.demo-table {
  width: 100%;
}
.tool-bar-icon {
  width: 48px;
  height: 48px;
}

.type {
  margin-right: 1rem;
}
mat-form-field {
  margin-right: 1rem;
}

table {
  border: 1px solid gainsboro;
}

th {
  background-color: #666666;
  color: white;
  font-size: 16px;
  text-align: center;
}

th,
td {
  padding-left: 1rem !important;
  border-right: 1px solid lightgray;
}

tr:hover {
  background-color: l;
  cursor: pointer;
}

.open {
  color: #666666;
  background-color: #b5b5b5;
}
.progress {
  color: #1e7b74 !important;
  background-color: #e8f2f1 !important;
}
.rejected {
  color: #be9700;
  background-color: #ffd430;
}
.closed {
  color: #044b7f;
}
tr:nth-child(even) {
  background-color: #fafafa !important;
}

.tablecard {
  padding-left: 0;
  padding-right: 0;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #aa182c;
  border-bottom: 2px solid #aa182c;
}
