mat-card {
  border-radius: 15px;
}

.mattable {
  height: 53vh;
  overflow-y: auto;
}
.demo-table {
  width: 100%;
}
.tool-bar-icon {
  width: 48px;
  height: 48px;
}

.type {
  margin-right: 1rem;
}
mat-form-field {
  margin-right: 1rem;
}

table {
  border: 1px solid gainsboro;
}

th {
  background-color: gray;
  color: white;
  font-size: 16px;
  text-align: center;
}

th,
td {
  padding-left: 1rem !important;
  border-right: 1px solid lightcyan;
}

tr:hover {
  background-color: l;
  cursor: pointer;
}
