table {
  width: 100%;
}

/* th,
td {
  border-right: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  border-collapse: collapse;
} */
th,
td {
  /* padding-left: 25px; */
  /* text-align: left; */
}

.field {
  margin-left: 1rem;
}
