table {
  width: 100%;
}
th {
  font-weight: bold;
  color: black;
}
th,
td {
  border-left: 1px solid #e9ecef;
  padding-left: 15px !important;
  /* border-bottom: 1px solid #e9ecef;
  border-collapse: collapse; */
}
th,
td {
  /* padding-left: 25px; */
  /* text-align: left; */
}

.smallButton {
  background-color: brown;
  line-height: 0 !important;
  height: 30px;
  border-radius: 20px !important;
  color: white;
}
th {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.field {
  margin-left: 1rem;
}
