<div class="row">
  <div class="col-9">

  </div>
  <mat-card class="mat-elevation-z8 col-xl-3 col-lg-3 col-md-6 col-sm-12 card">
    <h3 class="title">Activity</h3>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>

    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>
    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>

    <div class="py-2 d-flex justify-content-between align-items-center borders">
      <button mat-flat-button color="accent" class="activitybtn">A+</button>
      <div class="flex">
        <p class="m-0">Plasma for A+ is updated form 0 to 10 by suman</p>
        <span class="m-0">5 min ago</span>
      </div>
    </div>

  </mat-card>

</div>