mat-card {
  border-radius: 10px;
}
.card {
  width: 182px;
}

.borders {
  border-bottom: 1px solid #0000001f;
}
.avaliableUnits {
  font-size: 12px;
}
.activityCard {
  padding: 0 10px;
  /* height: 80vh !important; */
}

.activityContent {
  height: 70vh !important;
  overflow-y: scroll;
}
.activitybtn {
  background-color: brown;
  min-width: 45px !important;
  border-radius: 10px !important;
  padding: 0;
  padding-right: 5px;
  margin-right: 10px;
}
btn-group {
  border-radius: 0;
}
.editButton {
  margin-left: 10px;
  border-radius: 15px;
  color: white;
}

.card1 {
  height: 100px;
}

.mattable {
  height: 53vh;
  overflow-y: scroll;
}

.mat-raised-button {
  min-width: 65px;
  height: 38px;
  align-items: center;
}

.showBorder {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  display: inline-block;
  cursor: pointer;
}

.showBorder:hover {
  border: 1px solid red;
}

.mat-text-column {
  background-color: #0000001f;
}

.material-icons {
  font-size: 18px !important;
}

/* .mat-fab {
  width: 40px;
  height: 40px;
} */

mat-button-wrapper {
  padding: 0 !important;
}

th:first-child {
  width: 260px;
}

.mat-button-toggle-checked {
  background-color: brown;
  color: white;
}
input {
  border-color: transparent;
  border: none;
}
input:focus {
  outline: none;
}

.date {
  width: 85px;
}
