<div class="row pr-1">
  <div class="col-12">

    <div class="d-flex justify-content-between px-2 py-1">
      <div>
        <h3 class="m-0 text-bold">Blood Availability Status</h3>
        <span class="m-0" class="text-primary">Minimum level to be maintained : 30 units</span>
      </div>
      <div class="pt-2">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="Today">Today</mat-button-toggle>
          <mat-button-toggle value="Yesterday">Yesterday</mat-button-toggle>
          <mat-button-toggle value="Pick Date">
            <mat-form-field appearance="fill" class="example-form-field">
              <input matInput [matDatepicker]="datepicker">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button class="appBgColor btn btn-sm editButton" mat-raised-button (click)="onEditBldStatus('bldAvalStatus')">Edit</button>

      </div>

    </div>
    <!-- <div class="my-1">
      <mat-card class="mat-elevation-z8 p-1">
        <div class="d-flex align-items-center justify-content-around p-1">
          <button class="d-block" mat-fab aria-label="Example icon button with a heart icon">
            A+
          </button>
          <div class="content">
            <h5 class="m-0 flex-end">100</h5>
            <span>Available Unit</span>
          </div>
        </div>
        <mat-divider class="px-1"></mat-divider>
        <p class="text-center">25 Units Reserved</p>
        <p class="text-center">+10 units added</p>
        <p class="text-center">-5 Units issued</p>
        <p class="text-center">-5 Units issued</p>
      </mat-card>
    </div> -->
    <div class="mt-2 mx-0">
    </div>
    <div class="d-flex justify-content-between px-2 py-1">
      <div>
        <h3 class="m-0">Blood Component Status</h3>
        <span class="m-0" class="text-primary">Minimum level to be maintained : 30 units</span>
      </div>
      <div class="pt-2">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="Today">Today</mat-button-toggle>
          <mat-button-toggle value="Yesterday">Yesterday</mat-button-toggle>
          <mat-button-toggle value="Pick Date">
            <mat-form-field appearance="fill" class="example-form-field">
              <input matInput [matDatepicker]="datepicker">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button class="appBgColor btn btn-sm editButton" mat-raised-button (click)="onEditBldStatus('bldCompStatus')">Edit</button>

      </div>
    </div>



    <mat-card class="mt-2 mx-0 my-2 mb-3" *ngFor="let bloodComp of bloodCompStatus; let i = index">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{{bloodComp._id}}</th>
            <th *ngFor="let group of bloodComp.availability">{{group.bldgrp}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" class="text-secondary">Available Unit</td>
            <td *ngFor="let group of bloodComp.availability">{{group.totalAvailable}}</td>

          </tr>
          <tr>
            <td scope="row" class="text-primary">Reserved Unit</td>
            <td *ngFor="let group of bloodComp.availability">{{group.totalResorvedUnits}}</td>

          </tr>
          <tr>
            <td scope="row" class="text-success">Added Unit</td>
            <td *ngFor="let group of bloodComp.availability">{{group.totalAddedUnits}}</td>
          </tr>
          <tr>
            <td class="text-danger">Issued Unit</td>
            <td *ngFor="let group of bloodComp.availability">{{group.totalIssuedUnits}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>


  </div>


</div>