<mat-card class="mat-elevation-z8">
  <mat-card-title class="mt-5 pt-5 text-center">Login</mat-card-title>
  <mat-card-subtitle class="mt-5 mb-3 text-center">Please enter your username and password to access the portal</mat-card-subtitle>
  <mat-card-content>
    <div class="row">
      <mat-error *ngIf="loginErrors.length > 0" class="d-flex align-items-center justify-content-around">
        <mat-icon>warning</mat-icon> <span class="mt-1 ml-1">{{loginErrors[0]}}</span>
      </mat-error>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginForm()">
      <mat-form-field class="d-block">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User Nmae" formControlName="userid">
      </mat-form-field>
      <mat-form-field class="d-block">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="pwd" type="password">
      </mat-form-field>
      <div class="d-flex flex-column buttons">
        <button class="d-block my-3 mt-2" mat-raised-button color="accent" [disabled]="!loginForm.valid">Login</button>
        <button mat-raised-button color="accent" (click)="onSignup()">Sign up</button>
      </div>
      <h5 (click)="onForgotPass()" class="forgotPass text-center mt-5 text-primary">
        Forgot password
      </h5>
    </form>

  </mat-card-content>
</mat-card>