mat-card {
  /* width: 80%; */
  margin: 0 3rem;
  min-height: 650px;
  border-radius: 15px;
}
mat-card,
mat-form-field {
  padding: 0 1.5rem;
}
button {
  margin-right: 4rem;
  margin-left: 4rem;
  border-radius: 25px;
}
.hint {
  font-size: 12px;
  font-weight: normal;
  color: lightgray;
}

.title {
  line-height: 1.5;
  padding-left: 1rem;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 30px;
}
mat-form-field {
  margin-top: 1rem;
  /* padding-right: 1.5rem; */
  /* padding-left: 1rem; */
  width: 100%;
}

mat-card-subtitle {
  padding: 0 1.5rem;
}

.buttons {
  margin-top: 3rem;
}

.forgotPass {
  cursor: pointer;
  padding-right: 1rem;
}
