<div>
  <h3 routerLink="/dashboard/bloodRequest" style="font-weight: bold;"> {{'<'}} Blood Component Request</h3>
</div>
<div class="row mb-5">
  <div class="col-lg-6 mb-3 col-md-12">
    <mat-card class="mat-elevation-z8">
      <div class="p-3 px-4 d-flex align-items-center justify-content-between header">
        <h3 class="m-0" style="font-weight: bold;">Request Detail's</h3>
        <button mat-raised-button class="appBgColor text-white">Emergency Request</button>
      </div>
      <div>
        <table>
          <tr>
            <td>Patient's Name</td>
            <th>{{bloodReqDetail?.patName}}</th>
          </tr>
          <tr>
            <td>Blood Group</td>
            <th>{{bloodReqDetail?.bldgrp}}</th>
          </tr>
          <tr>
            <td>Age</td>
            <th>{{bloodReqDetail?.age}}</th>
          </tr>
          <tr>
            <td>Gender</td>
            <th>{{bloodReqDetail?.gender}}</th>
          </tr>
          <tr>
            <td>Purpose</td>
            <th>{{bloodReqDetail?.purpose}}</th>
          </tr>
          <tr>
            <td>Name Of Requester</td>
            <th>{{bloodReqDetail?.reqstrName}}</th>
          </tr>
          <tr>
            <td>Relation with Patient</td>
            <th>{{bloodReqDetail?.reqstrRel}}</th>
          </tr>
          <tr>
            <td>Contact No.</td>
            <th>{{bloodReqDetail?.contact}}</th>
          </tr>
          <tr>
            <td>Blood Requirement Type</td>
            <th>{{bloodReqDetail?.bldReqType}}</th>
          </tr>
          <tr>
            <td>Date of Request</td>
            <th>{{bloodReqDetail?.reqDate | date}}</th>
          </tr>
          <tr>
            <td>Date of Requirement</td>
            <th>{{bloodReqDetail?.reqDate | date}}</th>
          </tr>
          <tr>
            <td>Hospital Name</td>
            <th>{{bloodReqDetail?.hospitalName}}</th>
          </tr>
          <tr>
            <td>Hospital Address</td>
            <th>{{bloodReqDetail?.hospitalAddr}}</th>
          </tr>
          <tr>
            <td>patient's Address</td>
            <th>{{bloodReqDetail?.patAddr}}</th>
          </tr>
          <tr>
            <td>Location</td>
            <th>{{bloodReqDetail?.location}}</th>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-6 col-md-12 mb-3">
    <mat-card class="mat-elevation-z8">
      <div class="p-3 px-4 header">
        <h3 class="m-0">Requirements</h3>
      </div>
      <div class="mb-3">
        <table>
          <thead>
            <th>Items</th>
            <th>Units</th>
            <th>Available</th>
            <th>Issue</th>
            <th>Reserve</th>
          </thead>
          <tbody style="overflow: hidden;">
            <tr *ngFor="let item of bloodReqDetail?.requirements; let i = index">
              <td>{{item.bldComponent}}</td>
              <td>{{item.requiredUnit}}</td>
              <td>{{item.available}}</td>
              <td>
                <mat-form-field style="overflow: hidden;">
                  <input type="number" matInput placeholder="Issue Units" (keyup)="onIssueUnits($event.target.value,i)">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="overflow: hidden;">
                  <input type="number" matInput placeholder="Reserve Units" (keyup)="onResrveUnits($event.target.value,i)">
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5 my-2 px-4">
        <h3>Request Status</h3>
        <div class="d-flex align-items-center justify-content-between">
          <mat-form-field class="formField">
            <mat-select placeholder="{{ 'Select Request Type' }}" (selectionChange)="onSelectReqType($event.value)">
              <mat-option [value]="type.reqStatusId" *ngFor="let type of bloodReqStatus">
                {{ type.reqStatus }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="appBgColor text-white" (click)="save()">Save</button>
        </div>

      </div>
    </mat-card>
  </div>
</div>