.borders {
  border-bottom: 1px solid #e9ecef;
}
mat-card {
  padding: 0;
  border-radius: 15px;
}

th,
td {
  border-right: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  border-collapse: collapse;
}
.btns {
  margin-right: 1rem;
}
th,
td {
  padding: 5px 20px;
  text-align: left;
}
.rows {
  padding: 0;
}
th {
  width: 500px;
}
td {
  width: 280px;
}

.header {
  border-bottom: 2px solid lightgray;
}

button {
  border-radius: 10px;
}

.formField {
  width: 350px;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #fafafa !important;
}

.matform {
  height: 22px !important;
  line-height: 0 !important;
}

th {
  font-weight: bold;
}
