<div>
  <h3 routerLink="/dashboard/bloodRequest"> {{'<'}} Blood Component Request</h3>
</div>
<div class="row">
  <div class="col-6">
    <mat-card class="mat-elevation-z8">
      <div class="p-3 px-4 d-flex align-items-center justify-content-between header">
        <h3 class="m-0">Request Detail's</h3>
        <button mat-raised-button>Emergency Request</button>
      </div>
      <div>
        <table>
          <tr>
            <td>Patient's Name</td>
            <th>RTR65732687</th>
          </tr>
          <tr>
            <td>Blood Type</td>
            <th>567456</th>
          </tr>
          <tr>
            <td>Component Type</td>
            <th>Fresh Frozen plasma</th>
          </tr>
          <tr>
            <td>Age</td>
            <th>32</th>
          </tr>
          <tr>
            <td>Gender</td>
            <th>Male</th>
          </tr>
          <tr>
            <td>Location</td>
            <th>bangalore</th>
          </tr>
          <tr>
            <td>Date of Request</td>
            <th>29-03-2022</th>
          </tr>
          <tr>
            <td>Date of Requirement</td>
            <th>29-03-2022</th>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="mat-elevation-z8">
      <div class="p-3 px-4 header">
        <h3 class="m-0">Requirements</h3>
      </div>
      <div>
        <table>
          <thead>
            <th>Items</th>
            <th>Units</th>
            <th>Available</th>
            <th>Issue</th>
            <th>Reserve</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </mat-card>
  </div>
</div>