table {
  padding: 0;
  width: 100%;
  margin-left: 0px;
  margin-top: 2rem;
}

th,
td {
  border: 1px solid #e9ecef;
  /* border-bottom: 1px solid #e9ecef; */
  border-collapse: collapse;
}
.btns {
  margin-right: 1rem;
}
.mat-input-element:disabled {
  color: black !important;
}
th,
td {
  padding: 15px;
  text-align: left;
}
.rows {
  padding: 0;
}
th {
  width: 500px;
}
td {
  width: 280px;
}

mat-card {
  border-radius: 15px;
}

/* ::ng-deep.mat-form-field-disabled {
  font-weight: bold;
  color: black;
} */
.radioTitle {
  margin-left: 1rem;
}
.count {
  border: 1px solid lightgray;
  padding: 3px 5px;
  margin: 0 2px;
}
.radioButton {
  margin-right: 2rem;
}
mat-form-field {
  width: 350px;
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
}
/* ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0;
} */
button {
  color: white;
  border-radius: 10px;
  margin-left: 1rem;
}
.mat-form-field-infix {
  padding: 0;
}
