table {
  padding: 0;
  width: 100%;
  margin-left: 0px;
  margin-top: 2rem;
}

th,
td {
  border: 1px solid #e9ecef;
  /* border-bottom: 1px solid #e9ecef; */
  border-collapse: collapse;
}
.btns {
  margin-right: 1rem;
}
th,
td {
  padding: 15px;
  text-align: left;
}
.rows {
  padding: 0;
}
th {
  width: 500px;
}
td {
  width: 280px;
}

mat-card {
  border-radius: 15px;
}

::ng-deep.mat-form-field-disabled {
  font-weight: bold;
  color: black;
}

button {
  color: white;
  border-radius: 10px;
  margin-left: 1rem;
}
.mat-form-field-infix {
  padding: 0;
}
