<div class="row">
  <div class="col-7">
    <mat-card class="mat-elevation-z8">
      <form [formGroup]="userDetailsForm">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="m-0">My Profile</h3>
          <div>
            <button mat-raised-button class="appBgColor" *ngIf="isEditBtn" (click)="onEdit()">Edit</button>
            <button mat-raised-button class="appBgColor tex-white" *ngIf="!isEditBtn" (click)="cancel()">Cancel</button>
            <button mat-raised-button class="appBgColor tex-white" *ngIf="!isEditBtn" (click)="save()">Save</button>
          </div>
        </div>
        <div>

          <table>
            <tr>
              <td>User Name</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="userName" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>Organization Name</td>
              <th>{{userDetails?.orgName}}</th>
            </tr>
            <tr>
              <td>Type of Entity</td>
              <th>{{userDetails?.entId}}</th>
            </tr>
            <tr>
              <td>Entity Name</td>
              <th>{{userDetails?.entName}}</th>
            </tr>
            <tr>
              <td>Role</td>
              <th>{{userDetails?.role}}</th>
            </tr>
            <tr>
              <td>Email</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="altemail" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>Contact No.</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="altcontact" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>Address</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="addr" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>City.</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="city" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>District</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="district" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>State</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="state" />
                </mat-form-field>
              </th>
            </tr>
            <tr>
              <td>Pincode</td>
              <th style="padding: 0px 15px;">
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="pin" />
                </mat-form-field>
              </th>
            </tr>
          </table>

        </div>
      </form>
    </mat-card>
  </div>
  <div class="col-5">
    <mat-card class="mat-elevation-z8">
      <h3>Settings</h3>
      <hr>
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0">Show Notification</h3>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="Today">Today</mat-button-toggle>
          <mat-button-toggle value="All">All</mat-button-toggle>
        </mat-button-toggle-group>

      </div>
      <hr>
      <div class="d-flex justify-content-between align-content-center">
        <h3 class="m-0">Minimum Blood units to be maintained</h3>
        <mat-icon (click)="removeCount()">remove </mat-icon>
        <span>{{count}}</span>
        <mat-icon (click)="addCount()">add</mat-icon>
      </div>
    </mat-card>
  </div>
</div>