/* .header {
  background-color: brown;
  height: 60px;
  padding: 0.5rem 2rem;
  margin: 0;
} */

.width {
  width: 130px;
}
mat-form-field {
  margin-top: 0.5rem;
  width: 350px;
}
.upload {
  border: 1px dotted grey;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  margin: 0rem 5rem;
}

.files {
  border: 1px dotted grey;
  padding: 10px;
  border-radius: 10px;
  /* width: 450px; */
}

.icon {
  height: 31px;
  width: 42px;
  cursor: pointer;
}

.document {
  padding: 0 4.5rem;
}

.bottom {
  border-top: 2px solid #0000001f;
  padding: 0.2rem 5rem;
}

.select {
  background-color: #fff;
  width: 120px;
  border-radius: 25px;
  padding: 8px 10px;
}
.addBtn {
  border: none;
  color: #aa182c;
}
.bloodReq {
  /* width: 620px; */
  border: 1px dotted gainsboro;
  height: 300px;
  overflow: auto;
}

h3 {
  font-weight: bolder;
}

mat-radio-button {
  margin-right: 1.5rem;
}

.matstep2 {
  padding: 1rem 4rem;
}

.card {
  width: 270px;
  display: inline;
  border-radius: 10px;
  cursor: pointer;
}
mat-card {
  width: 260px;
  border-radius: 10px;
  cursor: pointer;
}
.location {
  margin-left: 2rem;
}

button {
  border-radius: 5px;
}

img {
  /* margin-left: 3rem; */
  /* margin-right: 5rem; */
}
.logo {
  margin-left: 3rem;
}

.expansion {
  /* background-color: white; */
  /* margin: 0.1rem 1rem; */
}
.mat-step-label .mat-step-label-active .mat-step-label-selected {
  color: red !important;
}

.header {
  margin: 0;
  padding: 0.5;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 100;
  margin-bottom: 3rem;
  padding-right: 4rem;
}

.activeLink {
  color: #aa182c;
  border-bottom: 3px solid #aa182c;
}

a {
  color: black;
  text-decoration: none;
}
.orgForm {
  padding: 0 3rem;
}

mat-form-field {
  /* margin-top: 0.3rem; */
  display: inline-block;
  width: 450px;
  margin-right: 3rem;
  margin-left: 0.7rem;
}

.width {
  width: 300px !important;
}

h2 {
  cursor: pointer;
}

.signup {
  border-radius: 20px;
  margin-right: 15rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.upload {
  border: 1px dotted grey;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  margin: 0 1.5rem;
}

.icon {
  height: 31px;
  width: 42px;
  cursor: pointer;
}

.files {
  border: 1px dotted grey;
  padding: 10px;
  border-radius: 10px;
  /* width: 450px; */
}

.addEntity {
  cursor: pointer;
}

.accordion {
  height: 75%;
  scroll-behavior: smooth;
  overflow: auto;
}

.mat-checkbox-layout {
  margin-left: 16rem;
}

@media only screen and (max-width: 1400px) {
  .expansion {
    margin: 1rem 1.5rem;
  }
}

.fileErr {
  padding-left: 3rem;
}

.radio {
  margin-left: 1rem;
  width: 493px;
  display: inline-block;
}
.radioButton {
  margin-right: 1rem;
  margin-left: 1rem;
}
.radioTitle {
  margin-left: 1rem;
}
.checkbox {
  display: inline-block;
  margin-left: 1rem;
}

::ng-deep .mat-step-label .mat-step-label-active .mat-step-label-selected {
  color: red !important;
}

::ng-deep .mat-step {
  padding: 0 1.5;
  display: flex !important;
}
mat-vertical-stepper {
  margin: 0 4rem !important;
}
::ng-deep .mat-vertical-content-container {
  width: 70%;
  padding-left: 1.5rem;
  /* background-color: #f4f0ec !important; */
  /* margin-top: 1rem; */
}

::ng-deep .mat-step-header {
  border-left: 2px solid lightgrey !important;
  width: 250px;
  /* background-color: #f4f0ec !important; */
}

::ng-deep .mat-step-header :target {
  border-left: 2px solid red !important;
}
::ng-deep .mat-step-header[aria-selected="true"] .mat-focus-indicator {
  border-left: 3px solid red;
}

/* mat-focus-indicator */
::ng-deep .mat-step-label-selected {
  color: red !important;
}
/* .mat-step-header[ng-reflect-selected="true"] ~ .mat-step-header .mat-step-icon {
  background-color: blue;
} */
::ng-deep .mat-step-icon {
  display: none !important;
}
