<div>
  <div class="d-flex pt-3 justify-content-between align-items-center header">
    <p>
      <mat-form-field appearance=" outline" class="width">
        <mat-select class="select" placeholder="{{ 'Set Priority' }}">
          <mat-option value="Hight">{{ "Hight" }} </mat-option>
          <mat-option value="Low">{{ "Low" }} </mat-option>
          <mat-option value="Medium">{{ "hospital" }} </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <h3 class="text-white">Add Blood Reqeust</h3>
    <button mat-icon-button class="pl-3">
      <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </button>
  </div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step label="Patient's Details">
      <div>
        <form class="pl-4 mt-4">
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Patient's Name</mat-label>
              <input matInput placeholder="Patient's Name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "Blood Group " }}</mat-label>
              <mat-select placeholder="{{ 'Blood Group ' }}  *">
                <mat-option value="hospital">{{ "hospital" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput placeholder="Age">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "Gender" }}</mat-label>
              <mat-select placeholder="{{ 'Gender' }}  *">
                <mat-option value="hospital">{{ "hospital" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Name of the Requester</mat-label>
              <input matInput placeholder="Name of the Requester">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Relation with Patient</mat-label>
              <input matInput placeholder="Relation with Patient">
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Date of Requirement</mat-label>
              <input matInput placeholder="Date of Requirement">
            </mat-form-field>
            <mat-form-field>
              <mat-label>purpose</mat-label>
              <input matInput placeholder="Purpose">
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Hospital Name</mat-label>
              <input matInput placeholder="Hospital Name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hospital Address</mat-label>
              <input matInput placeholder="Hospital Address">
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Conatact No.</mat-label>
              <input matInput placeholder="Conatact No.">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Patient's Address</mat-label>
              <input matInput placeholder="Patient's Address">
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-evenly">
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location">
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="Requirement Details">
      <div class="matstep2">
        <h3>Blood Requirement</h3>
        <div>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button (change)="radioChnage($event)" checked="true" value="1">Whole Blood</mat-radio-button>
            <mat-radio-button (change)="radioChnage($event)" value="2">Blood Components</mat-radio-button>
            <mat-radio-button (change)="radioChnage($event)" value="3">Whole Blood and Blood Components Both</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <h3 class="mt-4">Select Blood Requirement</h3>
          <div class="bloodReq">
            <mat-tab-group>
              <mat-tab label="Whole blood" *ngIf="showWholeBlood">
                <mat-card *ngFor="let type of bloodGroupList?.types" class="d-inline m-3 p-2 d-flex justify-content-between align-items-center">
                  <h3>{{type}}</h3>
                  <button mat-raised-button class="appBtnBgColor">Add</button>
                </mat-card>
              </mat-tab>
              <mat-tab label="Blood Component" *ngIf="showBlodComp">
                <mat-card *ngFor="let list of bloodCompList?.types" class="d-inline m-3 p-2 d-flex justify-content-between align-items-center">
                  <h4>{{list}}</h4>
                  <button mat-raised-button class="appBtnBgColor">Add</button>
                </mat-card>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-stepper>


  <div class="bottom d-flex justify-content-between align-items-center">
    <div>
      <mat-icon color="accent" class="mt-4">refresh</mat-icon>
      <button color="accent" mat-button class="mt-2">Reset</button>
    </div>
    <button mat-raised-button color="accent">Submit</button>
  </div>
</div>