<div class="dialog d-flex flex-column">
  <h1 class="md-dialog-title  text-center">{{'Forgot Password'}}</h1>
  <!-- <button mat-icon-button>
    <mat-icon>close</mat-icon>
  </button> -->
  <div class=" md-dialog-content text-center">{{'Dont worry we are here help you to reset your password. Enter your registered email address to get link to reset password.'}}</div>
  <form [formGroup]=" forgotPassForm">
    <mat-form-field class="d-block">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="Email Address" formControlName="emailAddress">
    </mat-form-field>
  </form>
  <button (click)="onSend()" mat-raised-button color="accent" [disabled]="!forgotPassForm.valid">Send</button>
</div>