.dialog {
  padding: 1.5rem;
}

mat-form-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

button {
  border-radius: 25px;
  margin: 0 5rem;
  background-color: #aa182c;
  color: white;
}

h4 {
  font-weight: bold;
}
