.sidenav {
  width: 14%;
  height: 100vh;
  background-color: brown;
  padding: 10px 10px;
}

.menus {
  margin-top: 3rem;
}
th,
td {
  border-right: 1px solid lightgray;
  padding-left: 1rem;
}

.mat-button-toggle-checked {
  background-color: brown;
  color: white;
}

.menuItem {
  cursor: pointer;
  color: white;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
.viewAll {
  display: inline;
  color: brown;
  margin-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
h6 {
  font-size: 15px;
  font-weight: bold;
}
.menu {
  margin-left: 1rem;
  font-size: 15px;
}

.header {
  margin: 0;
  padding: 0 3rem;
  width: 100%;
  height: 80px;
  background-color: white;
}

.headers {
  width: 86%;
}
.headerbuton {
  padding: 0 25px;
  border-radius: 20px;
  background-color: brown;
  color: white;
  font-size: 14px;
  margin-left: 1rem;
}

mat-card {
  border-radius: 10px;
}

.card {
  height: 340px;
}

.activitybtn {
  background-color: brown;
  min-width: 45px !important;
  border-radius: 10px !important;
  padding: 0 !important;
}

.borders {
  border-bottom: 1px solid #0000001f;
}

.flex {
  flex-grow: 1;
  padding-left: 10px;
}

.userIcon {
  margin-right: 1.5rem;
}
.notiIcon {
  margin-right: 2.5rem;
}

.title {
  padding-left: 1rem;
}
