<div class="header d-flex align-items-center justify-content-between">
  <div>
    <img src="/assets/Images/logo.svg" alt="JioLogo" class="ml-2 pl-5 logo" width="130px" height="50px" />
  </div>
  <mat-list role="list" class="d-flex align-items-center" style="padding-top: 3.5rem;">
    <mat-list-item role="listitem" routerLinkOptions="{exact: true}"> <a routerLinkActive="activeLink" routerLink="/login">Login </a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLinkOptions="{exact: true}">
      <a routerLink="/signup" routerLinkActive="activeLink">Register</a>
    </mat-list-item>
  </mat-list>
</div>
<div class="d-inline d-flex align-items-center" style=" margin-left: 4rem; background-color: #f4f0ec">
  <h2 class="m-0 d-inline">Registration Form</h2>
</div>
<span style="margin-left: 4rem;">Please enter you Organization information</span>

<div class="accordion">

  <mat-vertical-stepper linear>
    <form class="orgForm" [formGroup]="organizationForm">
      <mat-step>
        <ng-template matStepLabel>Organization Details</ng-template>
        <div class="expansion">
          <mat-accordion>
            <mat-expansion-panel expanded=" open">
              <mat-expansion-panel-header>
                <mat-panel-title class="d-flex justify-content-between align-items-center">
                  <strong>Organization Info</strong>

                  <button color="accent" mat-button (click)="onResetOrgForm()">
                    <mat-icon color="accent">refresh</mat-icon> Reset
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div>
                <mat-form-field class="ml-3">
                  <mat-label>{{ "Type of Organization" }}</mat-label>
                  <mat-select formControlName="categoryName" (selectionChange)="onOrgTypSelect($event.value)" placeholder="Type of Organization">
                    <mat-option [value]="category.categoryName" *ngFor="let category of orgCategories">{{ category.categoryName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="
                      organizationForm.controls['categoryName'].invalid &&
                      organizationForm.controls['categoryName'].errors.required
                    ">
                    {{ "organizationType is required" }}
                  </mat-error>
                </mat-form-field>
              </div>
              <ng-container>
                <div class="d-inline" *ngFor="let orgFormField of orgFormFields">
                  <ng-container *ngIf="orgFormField.inputType === 'TextBox'">
                    <mat-form-field
                      *ngIf="orgFormField.fieldName !== 'Address Line 1' && orgFormField.fieldName !== 'Address Line 2' && orgFormField.fieldName !== 'Country' &&   orgFormField.fieldName !== 'District' && orgFormField.fieldName !== 'PIN Code' && orgFormField.fieldName !== 'City'">
                      <mat-label>{{ orgFormField.fieldName }}</mat-label>
                      <input matInput [formControlName]="orgFormField.key" />
                      <mat-error *ngIf="
                        organizationForm.controls[orgFormField.key].invalid &&
                        organizationForm.controls[orgFormField.key].errors
                          .required
                      ">
                        {{ orgFormField.fieldName + " is required" }}
                      </mat-error>
                      <mat-error *ngIf="
                        organizationForm.controls[orgFormField.key].invalid &&
                        organizationForm.controls[orgFormField.key].errors
                          .pattern
                      ">
                        {{ "invalid " + orgFormField.fieldName }}
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngIf="orgFormField.inputType === 'Dropdown'">
                    <mat-form-field *ngIf="
                        orgFormField.key !== 'state' &&
                        orgFormField.key !== 'typeOfEntity'
                      ">
                      <mat-label>{{ orgFormField.fieldName }}</mat-label>
                      <mat-select formControlName="{{ orgFormField.key }}">
                        <mat-option [value]="i" *ngFor="
                            let value of orgFormField.values;
                            let i = index
                          ">{{ orgFormField.values[i] }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .pattern
                        ">
                        {{ "invalid " + orgFormField.fieldName }}
                      </mat-error>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .required
                        ">
                        {{ orgFormField.fieldName + " is required" }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="orgFormField.key === 'typeOfEntity'">
                      <mat-label>{{ orgFormField.fieldName }}</mat-label>
                      <mat-select formControlName="{{ orgFormField.key }}">
                        <mat-option [value]="category.categoryName" *ngFor="
                            let category of entityCategories;
                            let i = index
                          ">{{ category.categoryName }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .pattern
                        ">
                        {{ "invalid " + orgFormField.fieldName }}
                      </mat-error>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .required
                        ">
                        {{ orgFormField.fieldName + " is required" }}
                      </mat-error>
                    </mat-form-field>
                  </ng-container>

                  <mat-form-field *ngIf="orgFormField.inputType === 'Number'">
                    <mat-label>{{ orgFormField.fieldName }}</mat-label>
                    <input type="number" min="1" max="9999" matInput [formControlName]="orgFormField.key" />
                    <mat-error *ngIf="
                        organizationForm.controls[orgFormField.key].invalid &&
                        organizationForm.controls[orgFormField.key].errors
                          .required
                      ">
                      {{ orgFormField.fieldName + " is required" }}
                    </mat-error>
                  </mat-form-field>
                  <div class="checkbox" *ngIf="orgFormField.inputType === 'CheckBox'">
                    <mat-checkbox (change)="onCheckBox($event, orgFormField.key)" [formControlName]="orgFormField.key">{{ orgFormField.fieldName }}</mat-checkbox>
                    <mat-error *ngIf="
                        organizationForm.controls[orgFormField.key].touched &&
                        organizationForm.controls[orgFormField.key].invalid &&
                        organizationForm.controls[orgFormField.key].errors
                          .required
                      ">
                      {{ orgFormField.fieldName + " is required" }}
                    </mat-error>
                  </div>

                  <div *ngIf="orgFormField.inputType === 'Radio'" class="radio">
                    <mat-label>{{ orgFormField.fieldName }} *</mat-label>
                    <mat-radio-group [formControlName]="orgFormField.key" class="'radioTitle">
                      <mat-radio-button value="1" class="radioButton">Yes</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].touched &&
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .required
                        ">
                        {{ orgFormField.fieldName + " is required" }}
                      </mat-error>
                    </mat-radio-group>
                  </div>

                </div>
              </ng-container>
              <div class="d-flex justify-content-end pr-5">
                <button mat-raised-button matStepperNext class="appBtnBgColor">Next</button>
              </div>
            </mat-expansion-panel>

          </mat-accordion>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Address Details</ng-template>
        <div class=" expansion">
          <mat-accordion>
            <mat-expansion-panel expanded=" open">
              <mat-expansion-panel-header>
                <mat-panel-title class="d-flex justify-content-between align-items-center">
                  <strong>Address Info</strong>

                  <button color="accent" mat-button (click)="onResetOrgForm()">
                    <mat-icon color="accent">refresh</mat-icon> Reset
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-container>
                <div class="d-inline" *ngFor="let orgFormField of orgFormFields">
                  <ng-container *ngIf="orgFormField.inputType === 'TextBox'">
                    <mat-form-field
                      *ngIf="orgFormField.fieldName === 'Address Line 1' || orgFormField.fieldName === 'Address Line 2' || orgFormField.fieldName === 'Country' ||   orgFormField.fieldName === 'District' || orgFormField.fieldName === 'PIN Code' || orgFormField.fieldName == 'City'">
                      <mat-label>{{ orgFormField.fieldName }}</mat-label>
                      <input matInput [formControlName]="orgFormField.key" />
                      <mat-error *ngIf="
                        organizationForm.controls[orgFormField.key].invalid &&
                        organizationForm.controls[orgFormField.key].errors
                          .required
                      ">
                        {{ orgFormField.fieldName + " is required" }}
                      </mat-error>
                      <mat-error *ngIf="
                        organizationForm.controls[orgFormField.key].invalid &&
                        organizationForm.controls[orgFormField.key].errors
                          .pattern
                      ">
                        {{ "invalid " + orgFormField.fieldName }}
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngIf="orgFormField.inputType === 'Dropdown'">
                    <mat-form-field *ngIf="orgFormField.key === 'state'">
                      <mat-label>{{ orgFormField.fieldName }}</mat-label>
                      <mat-select formControlName="{{ orgFormField.key }}">
                        <mat-option [value]="state" *ngFor="let state of states; let i = index">{{ state }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .pattern
                        ">
                        {{ "invalid " + orgFormField.fieldName }}
                      </mat-error>
                      <mat-error *ngIf="
                          organizationForm.controls[orgFormField.key].invalid &&
                          organizationForm.controls[orgFormField.key].errors
                            .required
                        ">
                        {{ orgFormField.fieldName + " is required" }}
                      </mat-error>
                    </mat-form-field>
                  </ng-container>

                </div>
              </ng-container>
              <div class="d-flex justify-content-end">
                <button mat-raised-button matStepperPrevious style="margin-right: 1rem;">Previous</button>
                <button mat-raised-button matStepperNext class="appBtnBgColor">Next</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Upload Document</ng-template>
        <div class="d-inline" *ngFor="let orgFormField of orgFormFields">
          <div *ngIf="orgFormField.inputType === 'File'">
            <div class="d-flex justify-content-between mt-2 px-4">
              <h3>Upload License of Blood Bank</h3>
              <p class="mat-body-1">
                *File size should be less than 1 MB
              </p>
            </div>
            <mat-error *ngIf="acceptOnlyPDF" class="fileErr">{{
              acceptOnlyPDF
              }}</mat-error>
            <div class="upload">
              <div class="d-flex justify-content-between">
                <p class="pt-2">
                  Please upload your medical registration and document
                  of state medical council proof.
                </p>
                <input [formControlName]="orgFormField.key" #fileInput [hidden]="true" id="input-file-id" multiple type="file" accept="application/pdf" (change)="onOrgFileUpload($event)"
                  (click)="fileInput.value = null" />
                <button color="accent" (click)="fileInput.click()" mat-button class="upload-button d-flex justify-content-between" type="button">
                  <mat-icon color="accent">upload</mat-icon>
                  <span>Upload</span>
                </button>
              </div>

              <ng-container *ngFor="let file of organizationFiles; let i = index">
                <div class="files d-flex my-2 align-items-center" *ngIf="organizationFiles.length > 0">
                  <mat-icon class="icon pl-2 pr-4" color="accent">
                    insert_drive_file</mat-icon>
                  <div class="d-flex flex-column flex-grow-1">
                    <span clas="d-block">{{ file.name }}</span>
                    <span>{{ file.size + " byte" }}</span>
                  </div>
                  <mat-icon class="icon" color="accent" (click)="onDeleteFile(i)">close</mat-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
          <button mat-raised-button matStepperPrevious style="margin-right: 1rem;">Back</button>
          <button mat-raised-button class="btn-danger signup " [disabled]="!organizationForm.valid && organizationFiles.length < 0" (click)="onSubmit()" type="submit">
            Submit
          </button>
        </div>

      </mat-step>
    </form>
  </mat-vertical-stepper>

  <div class="expansion" [formGroup]="newEntityForm" *ngIf="NewEntityControl().controls.length > 0">
    <div formArrayName="newEntities" *ngFor="let control of NewEntityControl().controls; let i = index" class="my-3">
      <mat-accordion>
        <mat-expansion-panel expanded="open">
          <mat-expansion-panel-header>
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              <button color="accent" (click)="deleteEntity(i)" mat-button class="upload-button d-flex justify-content-between" type="button">
                <mat-icon color="accent">delete</mat-icon>
                <span>Delete</span>
              </button>
              <strong class="flex-grow-1 text-center">New Entity Info</strong>
              <mat-icon color="accent">refresh</mat-icon>
              <button color="accent" mat-button>Reset</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form class="orgForm" [formGroupName]="i">
            <div class="d-flex flex-row justify-content-around">
              <mat-form-field>
                <mat-label>{{ "Type of Organization" }}</mat-label>
                <mat-select formControlName="entOrganizationType" placeholder="{{ 'Type of Organization' }}  *">
                  <mat-option [value]="type" *ngFor="let type of orgTypes"></mat-option>
                </mat-select>
                <mat-error *ngIf="
                    control.controls['entOrganizationType'].invalid &&
                    control.controls['entOrganizationType'].errors.required
                  ">
                  {{ "organizationType is required" }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Organization Name</mat-label>
                <input matInput placeholder="Organization Name" formControlName="entOrganizationName" />
                <mat-error *ngIf="
                    control.controls['entOrganizationName'].invalid &&
                    control.controls['entOrganizationName'].errors.required
                  ">
                  {{ "Organization Name is required" }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex flex-row justify-content-around">
              <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" formControlName="entEmail" />
                <mat-error *ngIf="
                    control.controls['entEmail'].invalid &&
                    control.controls['entEmail'].errors.required
                  ">
                  {{ "Email Address is required" }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Contact No.</mat-label>
                <input matInput placeholder="Contact No." formControlName="entContact" />
                <mat-error *ngIf="
                    control.controls['entContact'].invalid &&
                    control.controls['entContact'].errors.required
                  ">
                  {{ "Contact No is required" }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex flex-row justify-content-around">
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="entAddress" />
                <mat-error *ngIf="
                    control.controls['entAddress'].invalid &&
                    control.controls['entAddress'].errors.required
                  ">
                  {{ "Address is required" }}
                </mat-error>
                <mat-hint>
                  <mat-checkbox class="mat-checkbox-layout">Same as Parent Organization</mat-checkbox>
                </mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Registration No</mat-label>
                <input matInput placeholder="Registration No" formControlName="entRegNum" />
                <mat-error *ngIf="
                    control.controls['entRegNum'].invalid &&
                    control.controls['entRegNum'].errors.required
                  ">
                  {{ "Registration No is required" }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex flex-row justify-content-around">
              <mat-form-field>
                <mat-label>Registration Council</mat-label>
                <input matInput placeholder="Registration Council" formControlName="entRegCouncil" />
                <mat-error *ngIf="
                    control.controls['entRegCouncil'].invalid &&
                    control.controls['entRegCouncil'].errors.required
                  ">
                  {{ "Registration Council is required" }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "Registration Year" }}</mat-label>
                <mat-select formControlName="entRegYear" placeholder="{{ 'Registration Year' }}  *">
                  <mat-option value="hospital"> {{ "hospital" }}</mat-option>
                </mat-select>
                <mat-error *ngIf="
                    control.controls['entRegYear'].invalid &&
                    control.controls['entRegYear'].errors.required
                  ">
                  {{ "Registration Year is required" }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex flex-row justify-content-around">
              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="entCity" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Pincode</mat-label>
                <input matInput placeholder="Pincode" formControlName="entPincode" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="entLocation" />
              </mat-form-field>
            </div>
            <div class="d-flex justify-content-between mt-2 px-5">
              <h3>Certification of Incorportation</h3>
              <p class="mat-body-1">*File size should be less than 1 MB</p>
            </div>
            <div class="upload">
              <div class="d-flex justify-content-between">
                <p class="pt-2">
                  Please upload your medical registration and document of state
                  medical council proof.
                </p>
                <input #fileInput [hidden]="true" id="input-file-id" multiple type="file" formControlName="entFileUpload" accept=".csv,.xls,.xlsx" (change)="onEntFileUpload($event)"
                  (click)="fileInput.value = null" />
                <button color="accent" (click)="fileInput.click()" mat-button class="upload-button d-flex justify-content-between" type="button">
                  <mat-icon color="accent">upload</mat-icon>
                  <span>Upload</span>
                </button>
              </div>

              <ng-container *ngFor="let file of entityFiles; let i = index">
                <div class="files d-flex my-2 align-items-center" *ngIf="entityFiles.length > 0">
                  <mat-icon class="icon pl-2 pr-4"> insert_drive_file</mat-icon>
                  <div class="d-flex flex-column flex-grow-1">
                    <span clas="d-block">{{ file.name }}</span>
                    <span>{{ file.size }}</span>
                  </div>
                  <button mat-icon-button class="icon" color="accent" (click)="onDeleteEntityFile(i)">
                    ok
                    <!-- <mat-icon color="accent">close</mat-icon> -->
                  </button>
                </div>
              </ng-container>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<!-- <div class="d-flex justify-content-end  footer py-2">
  <button color="accent" mat-button class="mt-1 addEntity" (click)="addNewEntity()">
    <strong>Add New Entity</strong>
  </button>
  <button mat-raised-button class="btn-danger signup " [disabled]="!organizationForm.valid " (click)="onSubmit()" type="submit">
    Submit
  </button>
</div> -->