img {
  /* margin-left: 3rem; */
  /* margin-right: 5rem; */
}
.logo {
  margin-left: 3rem;
}

.expansion {
  /* background-color: white; */
  /* margin: 0.1rem 1rem; */
}
.mat-step-label .mat-step-label-active .mat-step-label-selected {
  color: red !important;
}

.header {
  margin: 0;
  padding: 0.5;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 100;
  margin-bottom: 3rem;
  padding-right: 4rem;
}

.mat-step {
  padding: 0 1.5;
  display: flex !important;
}
mat-vertical-stepper {
  margin: 0 4rem !important;
}
.mat-vertical-content-container {
  width: 80%;
  /* background-color: #f4f0ec !important; */
  /* margin-top: 1rem; */
}

.mat-step-header {
  border-left: 2px solid lightgrey !important;
  width: 250px;
  /* background-color: #f4f0ec !important; */
}

.space {
  padding-bottom: 10px;
}
.mat-step-header :target {
  border-left: 2px solid red !important;
}
.mat-step-header[aria-selected="true"] .mat-focus-indicator {
  border-left: 3px solid red;
}

/* mat-focus-indicator */
.mat-step-label-selected {
  color: red !important;
}
/* .mat-step-header[ng-reflect-selected="true"] ~ .mat-step-header .mat-step-icon {
  background-color: blue;
} */
.mat-step-icon {
  display: none !important;
}
.activeLink {
  color: #aa182c;
  border-bottom: 3px solid #aa182c;
}

a {
  color: black;
  text-decoration: none;
}
/* .orgForm {
  padding: 0 1rem;
} */

mat-form-field {
  /* margin-top: 0.3rem; */
  display: inline-block;
  width: 450px;
  margin-right: 3rem;
  margin-left: 0.7rem;
}

.width {
  width: 300px !important;
}

h2 {
  cursor: pointer;
}

.signup {
  border-radius: 20px;
  margin-right: 15rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.upload {
  border: 1px dotted grey;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  margin: 0 1.5rem;
}

.icon {
  height: 31px;
  width: 42px;
  cursor: pointer;
}

.files {
  border: 1px dotted grey;
  padding: 10px;
  border-radius: 10px;
  /* width: 450px; */
}

.addEntity {
  cursor: pointer;
}

.accordion {
  height: 75%;
  scroll-behavior: smooth;
  overflow: auto;
}

.mat-checkbox-layout {
  margin-left: 16rem;
}

@media only screen and (max-width: 1400px) {
  .expansion {
    margin: 1rem 1.5rem;
  }
}

.fileErr {
  padding-left: 3rem;
}

.radio {
  margin-left: 1rem;
  width: 493px;
  display: inline-block;
}
.radioButton {
  margin-right: 1rem;
  margin-left: 1rem;
}
.radioTitle {
  margin-left: 1rem;
}
.checkbox {
  display: inline-block;
  margin-left: 1rem;
}
