<div>
  <form [formGroup]="loginViaOtpForm">
    <div class="pl-3" *ngIf="page === 'loginViaOtp'">
      <h5>Enter Mobile Number to generate the Otp.</h5>
      <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
        <mat-error *ngIf="
                          loginViaOtpForm.controls['mobileNumber'].invalid &&
                          loginViaOtpForm.controls['mobileNumber'].errors.pattern
                        ">
          {{ "Please, Enter 10 digit Mobile Number" }}
        </mat-error>
        <mat-error *ngIf="
                          loginViaOtpForm.controls['mobileNumber'].invalid &&
                          loginViaOtpForm.controls['mobileNumber'].errors.required
                        ">
          {{ "mobileNumber is required" }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="pl-3" *ngIf="page === 'verifyOtp'">
      <h5>Enter OTP to verify Two-factor authentication .</h5>
      <mat-form-field>
        <mat-label>OTP</mat-label>
        <input matInput placeholder="OTP" formControlName="verifyOtp">
        <mat-error *ngIf="
                              loginViaOtpForm.controls['verifyOtp'].invalid &&
                              loginViaOtpForm.controls['verifyOtp'].errors.required
                            ">
          {{ "OTP is required" }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-center">
      <button mat-raised-button class="appBgColor text-white" *ngIf="page === 'loginViaOtp'" (click)="onLoginViaOtp()">Send OTP</button>
      <button mat-raised-button *ngIf="page === 'verifyOtp'" class="appBgColor text-white" (click)="onLoginViaOtp()">Verify OTP</button>
    </div>

  </form>
</div>