/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f0ec;
}

.row {
  margin: 0;
  padding: 0;
}

.spinner_container {
  border-radius: 10px;
  left: 45%;
  top: 45%;
  position: absolute !important;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0.5;
}
