/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.row {
  margin: 0;
  padding: 0;
}

.spinner_container {
  border-radius: 10px;
  left: 45%;
  top: 45%;
  position: absolute !important;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0.5;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  border-radius: 20px !important;
}

.appBgColor {
  background-color: #aa182c;
}

.app mat-card {
  border-radius: 1 5px !important;
}

.mat-button-toggle-group {
  height: 30px;
  align-items: center;
  border-radius: 15px !important;
}

.mat-button-toggle {
  /* background-color: brown; */
  border: none;
  color: black;
}

button {
  color: white;
}

::ng-deep mat-button-toggle-group {
  outline: none;
}

.appBtnBgColor {
  background-color: #ea0029;
  color: white;
  border-radius: 10px;
}

.smallButtons {
  background-color: #ea0029;
  width: 100px;
  line-height: 0 !important;
  height: 30px;
  border-radius: 20px !important;
  color: white;
}

.outlineButtons {
  background-color: #fff;
  border: 1px solid #ea0029 !important;
  width: 100px;
  line-height: 0 !important;
  height: 30px;
  border-radius: 20px !important;
}
