/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.row {
  margin: 0;
  padding: 0;
}
.mat-calendar-body-today {
  background-color: #ea0029 !important;
}
.mat-calendar-body-cell-content:hover {
  background-color: #ea0029 !important;
}
.mat-calendar-body-selected {
  background-color: #ea0029 !important;
  color: white !important;
}

.spinner_container {
  border-radius: 10px;
  left: 45%;
  top: 45%;
  position: absolute !important;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0.5;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  border-radius: 20px !important;
}

.appBgColor {
  background-color: #aa182c;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #aa182c;
  border-bottom: 2px solid #aa182c;
}
.app mat-card {
  border-radius: 1 5px !important;
}

.mat-button-toggle-group {
  height: 30px;
  align-items: center;
  border-radius: 15px !important;
}

.mat-button-toggle {
  /* background-color: brown; */
  border: none;
  color: black;
}

button {
  color: white;
}

::ng-deep mat-button-toggle-group {
  outline: none;
}

.appBtnBgColor {
  background-color: #ea0029;
  color: white;
  border-radius: 10px;
}

.smallButtons {
  background-color: brown;
  width: 100px;
  line-height: 0 !important;
  height: 30px;
  border-radius: 20px !important;
  color: white;
}
.mat-button-toggle-checked {
  background-color: brown;
  color: white;
}

::ng-deep .mat-button-toggle {
  background-color: #e0e0e0 !important;
  color: black !important;
}
.outlineButtons {
  background-color: #fff;
  border: 1px solid #ea0029 !important;
  width: 100px;
  color: #ea0029 !important;
  line-height: 0 !important;
  height: 30px;
  border-radius: 20px !important;
}

.mat-tab-label-content {
  font-weight: bold;
  color: black;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #aa182c !important;
}
